%table.table
  %thead
    %tr
      %th Name
      %th Tags
      %th Created by
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.name, recipe_path(recipe)
        %td= recipe.tag_links
        %td= recipe.created_by
