%footer
  .pull-left.text-muted
    The Cookbook: Free, open source recipe tracking applicaion
  .pull-right
    = link_to "Fork me on GitHub", "https://github.com/jordanbyron/thecookbook",
      class: 'text-muted'
